.notion-page-icon-hero.notion-page-icon-image .notion-page-icon {
  border-radius: 4rem;
}

.notion-collection-page-properties,
.notion-title {
  text-align: center;
}

.notion-property-select,
.notion-property-multi_select {
  justify-content: center;
}

.notion-collection-row-property .notion-collection-column-title {
  display: none;
}

.notion-aside-table-of-contents-header {
  display: none;
}

1:18:25